@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

button{
  border-width: 0.1rem;
  padding:0.3rem 0.6rem;
}
button:hover{
  cursor: pointer;
  font-weight: 500;
  
 transition: font-weight 0.1s ease;
}

@layer utilities {
  .tick-everysecond {
    animation: tick 60s steps(360, end) infinite; 
    transform-origin: left center;
  }
  .tick-everyminute{
    animation: tick 3600s steps(3600, end) infinite;
    transform-origin: left center;
  }
  .tick-everyhour{
    animation: tick 43200s steps(43200, end) infinite;
    transform-origin: left center;
  }
  .clockbody{
    transform-origin: left center;
  }
  @keyframes tick {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
}




